<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/story.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <style>
      /* Mengatur tinggi dan lebar menjadi 100% */
      object {
        width: 100%;
        height: 100%;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo"><span>Wish</span>Find</a>

      <div class="social-media">
        <a href="#"><i class="bx bxl-facebook-circle"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-telegram"></i></a>
        <a href="#"><i class="bx bxl-instagram-alt"></i></a>
      </div>

      <nav class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('index') }}#about">About</a>
        <a href="{{ url_for('index') }}#features">Features</a>
        <a href="{{ url_for('index') }}#contact">Contact</a>
      </nav>
    </header>

    <!-- Hero Section Start -->
    <section class="hero" id="home">
      <main class="content">
        <h1><span>Hi,</span> I am Masahiro Gerarudo Yamazaki</h1>
        <p>
          “Many of life’s failures are people who did not realize how close they
          were to success when they gave up.” -Thomas Edison
        </p>

        <div class="social-media">
          <a
            href="https://www.linkedin.com/in/masahiro%2Dgerarudo%2Dyamazaki%2D53a134293/"
            ><i class="bx bxl-linkedin-square"></i
          ></a>
          <a href="https://www.instagram.com/masayama_24/"
            ><i class="bx bxl-instagram-alt"></i
          ></a>
        </div>
      </main>
    </section>
    <!-- Hero Section End -->

    <!-- About Start -->
    <section class="about" id="about">
      <div class="container">
        <img src="{{ url_for('static', filename='img/masahiro.png') }}" alt="" />
        <div class="paragraph">
          <h1>Hello, I Am Masahiro Gerarudo Yamazaki</h1>
          <h3>Data Engineers</h3>
          <p>
            As an undergraduate Informatics student with a strong background in
            web development, I am passionate about leveraging data to solve any
            problems. While I have experience in building full-stack web
            applications using HTML, CSS, JavaScript, Java and Python, I am
            particularly interested in pursuing a career as a Data Engineer. My
            fascination with data engineering stems from its ability to
            transform raw data into meaningful insights that drive informed
            decision-making. I am eager to contribute my skills and enthusiasm
            to projects that involve designing, developing, and maintaining data
            pipelines and infrastructure.
          </p>
          <div class="biodata">
            <div class="info">
              <p>Name</p>
              <p>Age</p>
              <p>Address</p>
              <p>Email</p>
              <p>Instagram</p>
              <p>Linkedin</p>
            </div>
            <div class="entries">
              <p>: Masahiro Gerarudo Yamazaki</p>
              <p>: 21</p>
              <p>: Depok</p>
              <p>: masahiroymzk24@gmail.com</p>
              <p>: masayama_24</p>
              <p>: Masahiro Gerarudo Yamazaki</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About End -->

    <section class="services" id="services">
      <div class="container">
        <div class="container1">
          <h1>Our Services</h1>
          <p>
            As an undergraduate Informatics student with a strong background in
            web development, I am passionate about leveraging data to solve any
            problems. While I have experience in building full-stack web
            applications using HTML, CSS, JavaScript, Java and Python, I am
            particularly interested in pursuing a career as a Data Engineer. My
            fascination with data engineering stems from its ability to
            transform raw data into meaningful insights that drive informed
            decision-making. I am eager to contribute my skills and enthusiasm
            to projects that involve designing, developing, and maintaining data
            pipelines and infrastructure.
          </p>
        </div>
        <div class="container2">
          <div class="Design">
            <i class="bx bx-category-alt"></i>
            <div class="container3">
              <h3>Web Design</h3>
              <p>Crafting engaging and intuitive visual experiences.</p>
            </div>
          </div>
          <div class="Design">
            <i class="bx bx-devices"></i>
            <div class="container3">
              <h3>Web Development</h3>
              <p>Innovative and tailored web development solutions.</p>
            </div>
          </div>
          <div class="Design">
            <i class="bx bx-sitemap"></i>
            <div class="container3">
              <h3>Machine Learning</h3>
              <p>
                Intelligent data analysis for valuable business predictions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Skills Start -->
    <section class="skills" id="skils">
      <div class="container">
        <div class="myskills">
          <h1>My Skills</h1>
        </div>
        <div class="container1">
          <div class="paragraph">
            <p>
              as data engineers, who help businesses harness the power of their
              data. We design, develop, and maintain data pipelines and
              infrastructure, craft data models, build machine learning
              applications, and visualize data to gain actionable insights. We
              use a variety of programming languages, frameworks, and cloud
              platforms. We help businesses achieve their goals by providing
              them with the data-driven insights they need to make informed
              decisions.
            </p>
          </div>

          <div class="containerskillbox">
            <img
              src="{{ url_for('static', filename='img/python.png') }}"
              alt=""
            />
            <img
              src="{{ url_for('static', filename='img/Java.png') }}"
              alt=""
            />
            <img
              src="{{ url_for('static', filename='img/HTML5.png') }}"
              alt=""
            />
            <img
              src="{{ url_for('static', filename='img/CSS3.png') }}"
              alt=""
            />
            <img
              src="{{ url_for('static', filename='img/JavaScript.png') }}"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- Skills End -->

    <!-- Footer Start -->
    <section class="footer">
      <p>&copy; 2024 by WishFind. All right reserved</p>
    </section>
    <!-- Footer End -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
