<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/story.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <style>
      /* Mengatur tinggi dan lebar menjadi 100% */
      object {
        width: 100%;
        height: 100%;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo"><span>Wish</span>Find</a>

      <div class="social-media">
        <a href="#"><i class="bx bxl-facebook-circle"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-telegram"></i></a>
        <a href="#"><i class="bx bxl-instagram-alt"></i></a>
      </div>

      <nav class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('index') }}#about">About</a>
        <a href="{{ url_for('index') }}#features">Features</a>
        <a href="{{ url_for('index') }}#contact">Contact</a>
      </nav>
    </header>

    <!-- Hero Section Start -->
    <section class="hero" id="home">
      <main class="content">
        <h1><span>Hi,</span> I am Yonathan Tirza Karsono</h1>
        <p>
          “Many of life’s failures are people who did not realize how close they
          were to success when they gave up.” -Thomas Edison
        </p>

        <div class="social-media">
          <a href="https://github.com/yywtv"><i class="bx bxl-github"></i></a>
          <a
            href="https://www.instagram.com/yonathantirza/"
            ><i class="bx bxl-instagram-alt"></i
          ></a>
        </div>
      </main>
    </section>
    <!-- Hero Section End -->

    <!-- About Start -->
    <section class="about" id="about">
      <div class="container">
        <img src="{{ url_for('static', filename='img/yonathan.png') }}" alt="" />
        <div class="paragraph">
          <h1>Hello, I Am Yonathan Tirza Karsono</h1>
          <h3>Game Developer</h3>
          <p>
            I'm a 4th-semester Computer Science major with a fervent passion for
            game development and programming. With each line of code, I'm
            inching closer to the realization of my dream. My aspiration is to
            enhance my programming skills to the point where I can craft not
            only useful applications but also captivating games.
          </p>
          <div class="biodata">
            <div class="info">
              <p>Name</p>
              <p>Age</p>
              <p>Address</p>
              <p>Email</p>
              <p>Instagram</p>
            </div>
            <div class="entries">
              <p>: Yonathan Tirza Karsono</p>
              <p>: 20</p>
              <p>: Depok</p>
              <p>: yonaatk1@gmail.com</p>
              <p>: yonathantirza</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About End -->

    <section class="services" id="services">
      <div class="container">
        <div class="container1">
          <h1>Our Services</h1>
          <p>
            I am a passionate and curious learner who enjoys using code to solve
            problems and build creative applications. I am fascinated by the
            challenge of taking complex ideas and translating them into
            efficient and elegant code.
          </p>
        </div>
        <div class="container2">
          <div class="Design">
            <i class="bx bx-category-alt"></i>
            <div class="container3">
              <h3>Game Design</h3>
              <p>
                conceptualizing and designing the core elements of a game,
                including its concept, rules, and gameplay mechanics.
              </p>
            </div>
          </div>
          <div class="Design">
            <i class="bx bx-devices"></i>
            <div class="container3">
              <h3>Game Development</h3>
              <p>
                cprocess of creating a game based on the previously designed
                game design.
              </p>
            </div>
          </div>
          <div class="Design">
            <i class="bx bx-sitemap"></i>
            <div class="container3">
              <h3>Machine Learning</h3>
              <p>
                Intelligent data analysis for valuable business predictions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Skills Start -->
    <section class="skills" id="skils">
      <div class="container">
        <div class="myskills">
          <h1>My Skills</h1>
        </div>
        <div class="container1">
          <div class="paragraph">
            <p>
              I possess a range of well-developed skills that I've honed over
              time. From technical prowess to interpersonal finesse, I take
              pride in what I've accomplished. Ready to tackle any challenge,
              each step I take and every obstacle I overcome contributes to a
              solid foundation of expertise. This is who I am at my core, and I
              look forward to continuing to grow and expand my skills in the
              future."
            </p>
          </div>

          <div class="containerskillbox">
            <img
              src="{{ url_for('static', filename='img/python.png') }}"
              alt=""
            />
            <img
              src="{{ url_for('static', filename='img/Java.png') }}"
              alt=""
            />
            <img src="{{ url_for('static', filename='img/Go.png') }}" alt="" />
            <img
              src="{{ url_for('static', filename='img/HTML5.png') }}"
              alt=""
            />
            <img
              src="{{ url_for('static', filename='img/CSS3.png') }}"
              alt=""
            />
            <img
              src="{{ url_for('static', filename='img/JavaScript.png') }}"
              alt=""
            />
            <img
              src="{{ url_for('static', filename='img/Godot.png') }}"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <!-- Skills End -->

    <!-- Footer Start -->
    <section class="footer">
      <p>&copy; 2024 by WishFind. All right reserved</p>
    </section>
    <!-- Footer End -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
