@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #bbdefb;
  --bg: #780000;
  --c1: #000000;
  --hp: #535c91;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--c1);
  color: var(--primary);
  /* min-height: 2000px; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.4rem 4%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: transform 0.3s ease;
}

.logo {
  font-size: 30px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 700;
}

a.logo span {
  color: var(--bg);
}

.social-media {
  margin: 0 auto 0 50px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--primary);
  text-decoration: none;
  margin-right: 5px;
  transition: 0.5s;
  border-radius: 10px;
}

.social-media a:hover {
  background: var(--primary);
}

.social-media a i {
  font-size: 20px;
  color: var(--primary);
  transition: 0.5s;
}

.social-media a:hover i {
  color: var(--bg);
}

.navbar a {
  font-size: 18px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar a:hover {
  color: var(--bg);
  transition: 0.5s;
}
