@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #bbdefb;
  --bg: #780000;
  --c1: #000000;
  --hp: #535c91;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--c1);
  color: var(--primary);
  /* min-height: 2000px; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.4rem 4%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: transform 0.3s ease;
}

.logo {
  font-size: 30px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 700;
}

a.logo span {
  color: var(--bg);
}

.social-media {
  margin: 0 auto 0 50px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--primary);
  text-decoration: none;
  margin-right: 5px;
  transition: 0.5s;
  border-radius: 10px;
}

.social-media a:hover {
  background: var(--primary);
}

.social-media a i {
  font-size: 20px;
  color: var(--primary);
  transition: 0.5s;
}

.social-media a:hover i {
  color: var(--bg);
}

.navbar a {
  font-size: 18px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar a:hover {
  color: var(--bg);
  transition: 0.5s;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/ML5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 2555, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 4%;
  max-width: 50rem;
}

.hero .content h1 {
  font-size: 3em;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 2;
}

.hero .content p {
  color: var(--primary);
  font-size: 1rem;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--primary);
  background-color: var(--bg);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  text-decoration: none;
}

.hero .content .cta:hover {
  color: var(--bg);
  background-color: var(--primary);
  transition: 0.5s;
}

/* about section */
.about {
  padding: 10rem 4% 1.4rem;
  text-align: center;
  min-height: 100vh;
}

.isi {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* Gaya dasar untuk dropdown */
.dropdown {
  position: relative;
}

/* Daftar dropdown */
.dropdown .content {
  display: none;
  background-color: transparent; /* Warna latar belakang dropdown */
  min-width: 100px; /* Lebar dropdown */
  z-index: 1; /* Mengatur tumpukan untuk menempatkan dropdown di atas konten lain */
  border-radius: 5rem; /* Mengatur sudut rounded dropdown */
  text-align: center; /* Teks di tengah dropdown */
  position: relative; /* Use absolute positioning */
  left: 50%; /* Pusat horizontal dropdown */
  transform: translateX(-50%); /* Pusat horizontal dropdown */
  transition: ease-in-out 1s;
}
.dropdown .content:hover {
  transition: ease-in-out 5s;
}

/* Tautan dalam dropdown */
.dropdown .content a {
  color: var(--bg);
  padding: 0.5rem;
  text-decoration: none;
  display: block; /* Membuat tautan menempati seluruh lebar dropdown */
}

/* Tautan dalam dropdown ketika dihover */
.dropdown .content a:hover {
  transition: 1s;
  background-color: var(--bg); /* Warna latar belakang ketika tautan dihover */
  border-radius: 15px;
  color: white;
}

.dropdown:hover .content {
  display: grid; /* Menampilkan dropdown menggunakan CSS Grid */
  grid-template-columns: repeat(2, 1fr); /* Membagi menjadi dua kolom */
  grid-gap: 10px; /* Jarak antar item */
  opacity: 1;
}

.story,
.vision .cta,
.hope .cta {
  max-width: auto;
  margin-top: 0.5rem;
  display: inline-block;
  color: var(--primary);
  border-radius: 0.5rem;
  text-decoration: none;
}

.vision .cta:hover,
.hope .cta:hover {
  color: var(--bg);
  transition: 0.5s;
}

.about .isi .story p,
.about .isi .vision p,
.about .isi .hope p {
  max-width: 400px;
  font-size: 15px;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.about .isi .story i,
.about .isi .vision i,
.about .isi .hope i {
  font-size: 80px;
  margin-bottom: 40px;
  align-self: flex-end;
}
.middot {
  font-size: 80px; 
  vertical-align: middle;
}

/* Features Start */

.featuresbox {
  padding: 1.4rem 4%;
}
.efficiency {
  padding: 1.4rem 4%;
  display: flex;
  align-items: center;
  gap: 50px;
  border-radius: 10px;
  box-shadow: inset 0 5px 0 rgba(255, 0, 0, 0.2),
    inset 0 -5px 0 rgba(255, 0, 0, 0.2);
  background-color: transparent;
}

.efficiency .img img {
  width: 400px;
  border-radius: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: var(--hp);
}

.efficiency .cta {
  margin-top: 10px;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  color: var(--primary);
  background-color: var(--bg);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  text-decoration: none;
}

.efficiency .cta:hover {
  color: var(--bg);
  background-color: var(--primary);
  transition: 0.5s;
}

.contact {
  padding: 50px 0;
  background-color: var(--c1);
  padding: 10rem 4% 10rem;
  min-width: 100vh;
}

.contact-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-contact {
  max-width: 200px;
}

.logo-contact a span {
  color: var(--bg);
}

.logo-contact a {
  font-size: 30px;
  color: var(--primary);
  text-decoration: none;
  font-weight: 700;
}

.logo-contact p {
  margin-top: 10px;
}

.alamat h1 {
  color: var(--primary);
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
}

.alamat p {
  max-width: 200px;
}

.social-contact {
  max-width: 100px;
}

.social-contact h1 {
  color: var(--primary);
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
}
.social-contact a {
  display: inline-block;
  margin-right: 10px;
  color: var(--hp);
  text-decoration: none;
  transition: color 0.3s;
}

.social-contact a:hover {
  color: #007bff;
}

.inquiries {
  max-width: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inquiries .cta {
  max-width: auto;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1rem;
  color: var(--primary);
  background-color: var(--bg);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  text-decoration: none;
}

.inquiries .cta:hover {
  color: var(--bg);
  background-color: var(--primary);
  transition: 0.5s;
}

.inquiries h1 {
  color: var(--primary);
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
}

.footer {
  padding: 0.5rem 4% 1rem;
  position: relative;
}

.footer p {
  box-shadow: inset 0 2px 0 0 rgba(255, 0, 0, 0.2);
  max-width: 500px;
}
